<strong>You have a new Subscribe</strong>
<p> the {{ meetup }}, has a plus one.</p>
<p> Look who is:</p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
</p>
